main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.view {
  padding: 80px 0 40px 0;
}
.view h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #404041;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #000;
  margin-bottom: 80px;
}
.view img {
  width: 300px;
  height: 250px;
  border: 7px solid #909090;
}

.view_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
}

.view_description {
  background: #909090;
  background: -webkit-gradient(linear, left top, right top, from(#909090), to(#FFFFFF));
  background: linear-gradient(to right, #909090, #FFFFFF);
  height: 250px;
  padding: 10px;
}
.view_description p {
  color: #404041;
}
.view_description p:first-child {
  font-size: 22px;
  font-weight: 600;
  padding: 20px;
}
.view_description p:last-child {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 125%;
}

.view_item_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.view_item_reverse .view_description {
  background: #909090;
  background: -webkit-gradient(linear, right top, left top, from(#909090), to(#FFFFFF));
  background: linear-gradient(to left, #909090, #FFFFFF);
}
.view_item_reverse .view_description p {
  text-align: right;
}

@media (max-width: 1200px) {
  .view_description p:first-child {
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
  }
  .view_description p:last-child {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 115%;
  }
}
@media (max-width: 992px) {
  .view_description {
    padding: 5px;
  }
  .view_description p:first-child {
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
  }
  .view_description p:last-child {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 100%;
  }

  .view {
    padding: 40px 0 20px 0;
  }
  .view h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .view {
    padding-bottom: 0px;
  }

  .view_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0;
  }

  .view_image {
    width: 100%;
    background: #909090;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .view_image img {
    z-index: 2;
    -webkit-box-shadow: 0px 9px 10px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 9px 10px 3px rgba(0, 0, 0, 0.2);
  }

  .view_description {
    background: #909090;
    background: -webkit-gradient(linear, left top, left bottom, from(#909090), to(#FFFFFF));
    background: linear-gradient(to bottom, #909090, #FFFFFF);
    height: 250px;
    padding: 5px;
  }
  .view_description p {
    color: #404041;
  }
  .view_description p:first-child {
    font-size: 22px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
  }
  .view_description p:last-child {
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
  }

  .view_item_reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .view_item_reverse .view_description {
    background: #909090;
    background: -webkit-gradient(linear, left top, left bottom, from(#909090), to(#FFFFFF));
    background: linear-gradient(to bottom, #909090, #FFFFFF);
  }
  .view_item_reverse .view_description p {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .view_description {
    padding: 5px;
  }
  .view_description p {
    color: #404041;
  }
  .view_description p:first-child {
    font-size: 20px;
  }
  .view_description p:last-child {
    font-size: 14px;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .view_description {
    padding: 5px;
  }
  .view_description p {
    color: #404041;
  }
  .view_description p:first-child {
    font-size: 18px;
  }
  .view_description p:last-child {
    font-size: 12px;
  }
}
/* Iphone 5 */
@media (max-width: 320px) {
  .view_description {
    padding: 2px;
  }
  .view_description p {
    color: #404041;
  }
  .view_description p:first-child {
    font-size: 16px;
  }
  .view_description p:last-child {
    font-size: 10px;
  }

  .view_description {
    height: 200px;
  }
}
.about {
  background: #f6f6f6;
}

.about_wrapper {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about_wrapper h3:first-child {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #404041;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #000;
  margin-bottom: 40px;
}
.about_wrapper h3:nth-child(3) {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #404041;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #000;
  margin-bottom: 40px;
}
.about_wrapper p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #404041;
  margin-bottom: 40px;
  line-height: 125%;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.advantage_item {
  background: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-radius: 1px;
  font-weight: 600;
  opacity: 0.8;
  font-size: 16px;
  margin: 5px;
}
.advantage_item img {
  width: 20px;
  margin-right: 5px;
}
.advantage_item p {
  margin-bottom: 0px;
}

.stages h4 {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  color: #404041;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #000;
  margin-bottom: 40px;
}

.stages_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stages_item {
  border: 4px solid #ee2128;
  background-color: #fff;
  padding: 10px;
  width: 18%;
  margin: 0 5px;
}
.stages_item p {
  text-align: left;
}
.stages_item p:first-child {
  margin-bottom: 20px;
  color: #909090;
  font-size: 40px;
  font-weight: 700;
  padding: 5px 0 0 10px;
}
.stages_item p:last-child {
  line-height: 125%;
}

@media (max-width: 1200px) {
  .stages_item {
    border: 4px solid #ee2128;
    background-color: #fff;
    padding: 10px;
    width: 18%;
    margin: 0 5px;
  }
  .stages_item p {
    text-align: left;
  }
  .stages_item p:first-child {
    margin-bottom: 20px;
    color: #909090;
    font-size: 32px;
    font-weight: 700;
    padding: 5px 0 0 10px;
  }
  .stages_item p:last-child {
    line-height: 125%;
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .stages_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .stages_item {
    padding: 10px;
    width: 40%;
    margin: 5px 5px;
  }
  .stages_item p {
    text-align: left;
  }
  .stages_item p:first-child {
    margin-bottom: 20px;
    color: #909090;
    font-size: 32px;
    font-weight: 700;
    padding: 5px 0 0 10px;
  }
  .stages_item p:last-child {
    line-height: 125%;
    font-size: 18px;
    height: 60px;
  }
}
@media (max-width: 768px) {
  .stages_item p {
    text-align: left;
  }
  .stages_item p:first-child {
    margin-bottom: 10px;
    color: #909090;
    font-size: 26px;
    font-weight: 700;
    padding: 5px 0 0 10px;
  }
  .stages_item p:last-child {
    line-height: 125%;
    font-size: 16px;
    height: 60px;
  }

  .about_wrapper h3:first-child {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: #404041;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #000;
    margin-bottom: 40px;
  }
  .about_wrapper h3:nth-child(3) {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    color: #404041;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #000;
    margin-bottom: 40px;
  }
  .about_wrapper p {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #404041;
    margin-bottom: 40px;
    line-height: 125%;
  }

  .advantage_item {
    background: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    border-radius: 1px;
    font-weight: 600;
    opacity: 0.8;
    font-size: 16px;
    margin: 5px;
  }
  .advantage_item img {
    width: 20px;
    margin-right: 5px;
  }
  .advantage_item p {
    margin-bottom: 0px;
  }
}
@media (max-width: 576px) {
  .about_wrapper h3:first-child {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #404041;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #000;
    margin-bottom: 20px;
  }
  .about_wrapper h3:nth-child(3) {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #404041;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #000;
    margin-bottom: 20px;
  }
  .about_wrapper p {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #404041;
    margin-bottom: 40px;
    line-height: 115%;
  }

  .stages h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .stages_item p:first-child {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .stages_item p:last-child {
    line-height: 115%;
    font-size: 14px;
    height: 60px;
  }

  .advantage_item {
    background: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    border-radius: 1px;
    font-weight: 600;
    opacity: 0.8;
    font-size: 16px;
    margin: 5px;
  }
  .advantage_item img {
    width: 20px;
    margin-right: 5px;
  }
  .advantage_item p {
    margin-bottom: 0px;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .stages_item p:first-child {
    margin-bottom: 10px;
    font-size: 22px;
  }
  .stages_item p:last-child {
    line-height: 105%;
    font-size: 12px;
    height: 50px;
  }
}
/* Iphone 5 */
.our_works {
  padding: 40px 0;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), url(../img/works/main.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/works/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
  background-position: center center;
}

.our_works_wrapper h3 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #404041;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #000;
  margin-bottom: 40px;
}

.our_works_slider {
  width: 450px;
  margin: 0 auto;
  border: 5px solid #c7c2c2;
  -webkit-box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.39);
          box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.39);
}

.our_works_item {
  display: inline-block;
  -webkit-box-shadow: 14px 14px 12px -5px rgba(21, 21, 21, 0.6);
          box-shadow: 14px 14px 12px -5px rgba(21, 21, 21, 0.6);
}
.our_works_item img {
  width: 450px;
  height: 350px;
}
.our_works_item figcaption {
  text-align: center;
  background: #c7c2c2;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #404041;
}

.slick-prev:before {
  color: #909090;
  position: relative;
  right: 20px;
  font-size: 30px;
}

.slick-next:before {
  color: #909090;
  position: relative;
  left: 10px;
  font-size: 30px;
}

@media (max-width: 768px) {
  .our_works_wrapper h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .our_works {
    padding: 20px 0;
  }
}
@media (max-width: 576px) {
  .our_works_slider {
    width: 400px;
    margin: 0 auto;
    border: 5px solid #c7c2c2;
    -webkit-box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.39);
            box-shadow: 0px 0px 13px 7px rgba(0, 0, 0, 0.39);
  }

  .our_works_item img {
    width: 400px;
    height: 300px;
  }
  .our_works_item figcaption {
    text-align: center;
    background: #c7c2c2;
    padding: 20px;
    font-size: 14px;
    font-weight: 500;
  }

  .slick-prev:before {
    display: none;
  }

  .slick-next:before {
    display: none;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .our_works_slider {
    width: 250px;
  }

  .our_works_item img {
    width: 250px;
    height: 150px;
  }
  .our_works_item figcaption {
    text-align: center;
    background: #c7c2c2;
    padding: 20px;
    font-size: 12px;
    font-weight: 500;
  }
}
/* Iphone 5 */
@media (max-width: 320px) {
  .our_works_slider {
    width: 250px;
  }

  .our_works_item img {
    width: 250px;
    height: 150px;
  }
  .our_works_item figcaption {
    text-align: center;
    background: #c7c2c2;
    padding: 10px;
    font-size: 10px;
    font-weight: 500;
  }
}
.feedback {
  padding: 40px 0;
  background-color: #f6f6f6;
}

.feedback_wrapper {
  margin: 0 50px;
}
.feedback_wrapper h3 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #404041;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #000;
  margin-bottom: 80px;
}

.feedback_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feedback_item img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.feedback_item p {
  padding: 10px;
  max-width: 600px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: #404041;
  margin-bottom: 40px;
  line-height: 125%;
}
.feedback_item p span {
  font-size: 26px;
  font-weight: 700;
  line-height: 60px;
}

@media (max-width: 992px) {
  .feedback_slider {
    margin: 0 50px;
  }
}
@media (max-width: 768px) {
  .feedback_wrapper h3 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #404041;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #000;
    margin-bottom: 20px;
  }

  .feedback {
    padding-bottom: 0;
    background-color: #f6f6f6;
  }

  .feedback_item img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .feedback_item p {
    padding: 5px;
    max-width: 600px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #404041;
    margin-bottom: 40px;
    line-height: 125%;
  }
  .feedback_item p span {
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
  }
}
@media (max-width: 576px) {
  .feedback_wrapper {
    margin: 0 0px;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .feedback_item p {
    font-size: 12px;
  }
}
/* Iphone 5 */
.contacts {
  padding: 40px 0;
}
.contacts h4 {
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  color: #404041;
  line-height: 125%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.contacts_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts_items {
  width: 30%;
}

.contacts_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
.contacts_item img {
  width: 30px;
  height: 30px;
}
.contacts_item p {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #404041;
  line-height: 125%;
}
.contacts_item p span {
  font-weight: 700;
}

.contacts_form {
  width: 70%;
}
.contacts_form h4 {
  text-align: left;
  font-size: 32px;
  font-weight: 700;
  color: #404041;
  line-height: 125%;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.contacts_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts_form form input {
  border-bottom: 2px solid #ee2128;
  padding: 5px 7px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contacts_form form input:focus {
  border-bottom: 2px solid #23ad00;
}
.contacts_form form button {
  color: #404041;
  font-weight: 600;
  font-size: 16px;
  padding: 12px;
  background-color: #ee2128;
  color: #fff;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.contacts_form form button:hover {
  border: 2px solid #ee2128;
  background-color: #fff;
  padding: 10px;
  color: #ee2128;
}
.contacts_form form button:active {
  -webkit-box-shadow: 0px 1px 12px 1px rgba(255, 0, 9, 0.6);
          box-shadow: 0px 1px 12px 1px rgba(255, 0, 9, 0.6);
}

footer {
  background-color: #2f2e35;
  color: #fff;
  padding: 30px 0;
}
footer p {
  text-align: center;
}

@media (max-width: 992px) {
  .contacts_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contacts_items {
    width: 50%;
  }

  .contacts {
    padding: 20px 0;
  }
  .contacts h4 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .contacts_item {
    margin-bottom: 10px;
  }
  .contacts_item img {
    width: 20px;
    height: 20px;
  }
  .contacts_item p {
    margin-left: 10px;
    font-size: 16px;
    line-height: 115%;
  }

  .contacts_form {
    width: 50%;
  }
  .contacts_form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts_form form input {
    border-bottom: 2px solid #ee2128;
    padding: 5px 7px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .contacts h4 {
    font-size: 18px;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .contacts_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts_items {
    margin-bottom: 20px;
  }

  .contacts h4 {
    text-align: center;
  }

  .contacts_form {
    width: 100%;
  }
  .contacts_form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/* Iphone 5 */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.noscroll {
  overflow: hidden;
}

.socials {
  position: fixed;
  bottom: 20px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.socials img {
  width: 35px;
}
.socials a {
  margin: 0 0 10px 10px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0.8;
}
.socials a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

.header_main {
  border-bottom: 1px solid #e3e2e7;
  -webkit-box-shadow: 1px 9px 5px -5px rgba(227, 226, 231, 0.68);
          box-shadow: 1px 9px 5px -5px rgba(227, 226, 231, 0.68);
  z-index: 2;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
}

.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e3e2e7;
  -webkit-box-shadow: 1px 9px 5px -5px rgba(227, 226, 231, 0.68);
          box-shadow: 1px 9px 5px -5px rgba(227, 226, 231, 0.68);
}

.logo img {
  width: 58px;
  height: 58px;
}

.header_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}
.header_contacts img {
  width: 16px;
  height: 16px;
}

.contacts_schedule {
  white-space: nowrap;
  color: #404041;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 0;
}
.contacts_schedule p {
  display: inline-block;
  margin-left: 5px;
}

.contacts_mail {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 0;
}
.contacts_mail a {
  color: #404041;
  margin-left: 5px;
}

.contacts_phone {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 25px;
}
.contacts_phone a {
  color: #404041;
  font-size: 20px;
  margin-left: 5px;
}

.contacts_button {
  color: #404041;
  font-weight: 600;
  font-size: 16px;
  padding: 20px;
  background-color: #ee2128;
  color: #fff;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.contacts_button:hover {
  border: 2px solid #ee2128;
  background-color: #fff;
  padding: 18px;
  color: #ee2128;
}
.contacts_button:active {
  -webkit-box-shadow: 0px 1px 12px 1px rgba(255, 0, 9, 0.6);
          box-shadow: 0px 1px 12px 1px rgba(255, 0, 9, 0.6);
}

.header_bottom {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header_bottom a {
  color: #404041;
  font-size: 20px;
  margin: 10px;
}
.header_bottom a:hover {
  color: #ee2128;
  -webkit-box-shadow: 0px 8px 0px -5px rgba(238, 33, 40, 0.6);
          box-shadow: 0px 8px 0px -5px rgba(238, 33, 40, 0.6);
}

.extra_header {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/main.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/main.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: auto;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.extra_header_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.extra_header_text h1 span {
  display: block;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 3px 6px #000;
  text-transform: uppercase;
  margin: 10px 0;
}
.extra_header_text .extra_header_title {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 3px 6px #000;
  text-align: center;
  margin: 20px 0;
}

.header_form {
  background: #fff;
  padding: 20px;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 14px 14px 12px -5px rgba(21, 21, 21, 0.6);
          box-shadow: 14px 14px 12px -5px rgba(21, 21, 21, 0.6);
}
.header_form p {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 15px;
}
.header_form p span {
  color: #ee2128;
  font-size: 20px;
  font-weight: 800;
}
.header_form form input {
  border-bottom: 2px solid #ee2128;
  padding: 5px 7px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 5px;
}
.header_form form input:focus {
  border-bottom: 2px solid #23ad00;
}
.header_form form button {
  color: #404041;
  font-weight: 600;
  font-size: 16px;
  padding: 7px;
  background-color: #ee2128;
  color: #fff;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.header_form form button:hover {
  border: 2px solid #ee2128;
  background-color: #fff;
  padding: 5px;
  color: #ee2128;
}
.header_form form button:active {
  -webkit-box-shadow: 0px 1px 12px 1px rgba(255, 0, 9, 0.6);
          box-shadow: 0px 1px 12px 1px rgba(255, 0, 9, 0.6);
}

.extra_header_flags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.extra_header_subtitle {
  background: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-radius: 1px;
  font-weight: 600;
  opacity: 0.8;
  font-size: 20px;
  margin: 0 5px;
  -webkit-box-shadow: 14px 14px 12px -5px rgba(21, 21, 21, 0.6);
          box-shadow: 14px 14px 12px -5px rgba(21, 21, 21, 0.6);
}
.extra_header_subtitle img {
  width: 40px;
  margin-right: 5px;
}

.burger {
  opacity: 0;
  visibility: hidden;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 30px;
  margin: 0 10px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.burger span {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  border: 2px solid #404041;
}
.burger span:nth-child(1) {
  margin-bottom: 7px;
}
.burger span:nth-child(3) {
  margin-top: 7px;
}
.burger:hover span {
  border: 2px solid #ee2128;
}

.burger_action span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.burger_action span:nth-child(2) {
  opacity: 0;
}
.burger_action span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.burger_menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: -350px;
  z-index: 3;
  height: 100%;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.burger_menu nav {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.burger_menu a {
  color: black;
  font-weight: 700;
  font-size: 20px;
  margin: 10px;
}
.burger_menu a:hover {
  color: #ee2128;
}

.burger_menu_active {
  left: 0;
}

.burger_menu_back {
  background: rgba(64, 64, 65, 0.7);
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
  visibility: hidden;
}

.burger_menu_back_active {
  display: block;
}

.burger_menu_items {
  background: #909090;
  height: 100%;
  width: 350px;
}

@media (max-width: 1300px) {
  .extra_header_subtitle {
    padding: 13px;
    font-size: 18px;
  }
  .extra_header_subtitle img {
    width: 35px;
  }
}
@media (max-width: 768px) {
  .extra_header_flags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .extra_header_subtitle {
    margin-bottom: 5px;
  }
  .extra_header_subtitle img {
    width: 30px;
    margin-right: 5px;
  }

  .burger {
    opacity: 1;
    visibility: visible;
  }

  .burger_menu {
    opacity: 1;
    visibility: visible;
  }

  .burger {
    opacity: 1;
    visibility: visible;
  }

  .burger_menu_back {
    opacity: 1;
    visibility: visible;
  }

  .header_bottom {
    display: none;
  }

  .header_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .header_contacts {
    margin: 0 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts_item1 {
    margin-bottom: 10px;
  }

  .contacts_phone {
    margin-bottom: 10px;
  }

  .contacts_button {
    margin-bottom: 10px;
  }

  .contacts_item1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts_button {
    font-size: 16px;
    padding: 10px;
  }
  .contacts_button:hover {
    padding: 8px;
  }

  .extra_header_text h1 span {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 3px 6px #000;
    text-transform: uppercase;
    margin: 10px 0;
  }
  .extra_header_text .extra_header_title {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 3px 6px #000;
    text-align: center;
    margin: 20px 0;
  }

  .header_form {
    background: #fff;
    padding: 10px;
    opacity: 0.8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header_form p {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .header_form p span {
    color: #ee2128;
    font-size: 20px;
    font-weight: 800;
  }
  .header_form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_form form input {
    border-bottom: 2px solid #ee2128;
    padding: 5px 7px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .header_form form input:focus {
    border-bottom: 2px solid #23ad00;
  }
  .header_form form button {
    color: #404041;
    font-weight: 600;
    font-size: 16px;
    padding: 7px;
    background-color: #ee2128;
    color: #fff;
    -webkit-transition: background-color 0.2s linear, color 0.2s linear;
    transition: background-color 0.2s linear, color 0.2s linear;
  }
  .header_form form button:hover {
    border: 2px solid #ee2128;
    background-color: #fff;
    padding: 5px;
    color: #ee2128;
  }
  .header_form form button:active {
    -webkit-box-shadow: 0px 1px 12px 1px rgba(255, 0, 9, 0.6);
            box-shadow: 0px 1px 12px 1px rgba(255, 0, 9, 0.6);
  }

  .extra_header_flags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
  }

  .extra_header_subtitle {
    padding: 15px;
    font-weight: 600;
    opacity: 0.8;
    font-size: 16px;
    margin: 5px 5px;
  }
  .extra_header_subtitle img {
    width: 30px;
    margin-right: 5px;
  }

  .socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  .socials img {
    width: 25px;
  }
  .socials a {
    margin: 0 0 10px 10px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    opacity: 0.8;
  }
  .socials a:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .extra_header_subtitle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/* Iphone 5 */
